NodeRED/Alexa_ejemplo_profesor.json
[
    {
        "id": "5c4034e935cb2ed5",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdf25bdd2bc7e23d",
        "type": "mqtt out",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "topic": "II1/orden",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "333a4de2.089d12",
        "x": 785,
        "y": 466,
        "wires": []
    },
    {
        "id": "702968e3600fd3f9",
        "type": "ui_slider",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "label": "Intensidad (%)",
        "tooltip": "",
        "group": "f2b40320.566b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 325,
        "y": 486,
        "wires": [
            [
                "1d6487162c365b65"
            ]
        ]
    },
    {
        "id": "1d6487162c365b65",
        "type": "function",
        "z": "5c4034e935cb2ed5",
        "name": "monta json",
        "func": "\nreturn {\"payload\":{\"lampara\":msg.payload}};",
        "outputs": 1,
        "noerr": 0,
        "x": 555,
        "y": 486,
        "wires": [
            [
                "bdf25bdd2bc7e23d"
            ]
        ]
    },
    {
        "id": "be3c53a720d58f8c",
        "type": "mqtt in",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "topic": "II1/estado/lampara",
        "qos": "2",
        "datatype": "auto",
        "broker": "333a4de2.089d12",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 335,
        "y": 606,
        "wires": [
            [
                "c891bba0859478cc",
                "7d817d962e8fa25c"
            ]
        ]
    },
    {
        "id": "c891bba0859478cc",
        "type": "debug",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "15989de32ea5cd3f",
        "type": "ui_gauge",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "group": "f2b40320.566b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Intensidad LED",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#c1e8fb",
            "#55a2dd",
            "#095ece"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1005,
        "y": 606,
        "wires": []
    },
    {
        "id": "88786a8cadc432e6",
        "type": "function",
        "z": "5c4034e935cb2ed5",
        "name": "extrae intensidad",
        "func": "msg.payload=msg.payload.lampara;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 755,
        "y": 606,
        "wires": [
            [
                "15989de32ea5cd3f"
            ]
        ]
    },
    {
        "id": "7d817d962e8fa25c",
        "type": "json",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 595,
        "y": 606,
        "wires": [
            [
                "88786a8cadc432e6"
            ]
        ]
    },
    {
        "id": "72ef4816fe7cede1",
        "type": "debug",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 485,
        "y": 286,
        "wires": []
    },
    {
        "id": "994745bab8e0c8c4",
        "type": "function",
        "z": "5c4034e935cb2ed5",
        "name": "adapta  mensaje desde Alexa",
        "func": "if(msg.command==\"SetBrightness\") //level \n    return {\"payload\":{\"lampara\":msg.payload}};\nelse // ON-OFF\n    if(msg.payload==\"ON\") \n        return {\"payload\":{\"lampara\":100}};\n    else \n        return {\"payload\":{\"lampara\":0}};",
        "outputs": 1,
        "noerr": 0,
        "x": 545,
        "y": 406,
        "wires": [
            [
                "bdf25bdd2bc7e23d"
            ]
        ]
    },
    {
        "id": "38da4aefd9452f8e",
        "type": "function",
        "z": "5c4034e935cb2ed5",
        "name": "actualiza temperatura en Alexa",
        "func": "return { \"payload\" : { \"state\" : { \"temperature\" : msg.payload } }, \"acknowledge\" : true };",
        "outputs": 1,
        "noerr": 0,
        "x": 815,
        "y": 226,
        "wires": [
            [
                "6974c9a8dfac9b56"
            ]
        ]
    },
    {
        "id": "103ace50766fa6a6",
        "type": "function",
        "z": "5c4034e935cb2ed5",
        "name": "confirma estado led a Alexa",
        "func": "msg.acknowledge=true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 625,
        "y": 326,
        "wires": [
            [
                "7c6391e80f96c589",
                "f05dc54c21035f7c"
            ]
        ]
    },
    {
        "id": "7c6391e80f96c589",
        "type": "debug",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 875,
        "y": 406,
        "wires": []
    },
    {
        "id": "14547c5d2832a9e4",
        "type": "mqtt in",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "topic": "II1/datos/json",
        "qos": "2",
        "datatype": "auto",
        "broker": "333a4de2.089d12",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 295,
        "y": 226,
        "wires": [
            [
                "2b7c4b94acf95e9c"
            ]
        ]
    },
    {
        "id": "2b7c4b94acf95e9c",
        "type": "json",
        "z": "5c4034e935cb2ed5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 495,
        "y": 226,
        "wires": [
            [
                "81d8720991af8fc8"
            ]
        ]
    },
    {
        "id": "81d8720991af8fc8",
        "type": "function",
        "z": "5c4034e935cb2ed5",
        "name": "extrae",
        "func": "msg.payload=msg.payload.BME280.Temperatura;\nmsg.topic=\"Temp\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 615,
        "y": 226,
        "wires": [
            [
                "38da4aefd9452f8e"
            ]
        ]
    },
    {
        "id": "6f67c8eb8233e294",
        "type": "alexa-smart-home-v3",
        "z": "5c4034e935cb2ed5",
        "conf": "ab85cf985da094b6",
        "device": "22959",
        "acknowledge": false,
        "name": "",
        "topic": "",
        "x": 283,
        "y": 326.0000047683716,
        "wires": [
            [
                "72ef4816fe7cede1",
                "994745bab8e0c8c4",
                "103ace50766fa6a6"
            ]
        ]
    },
    {
        "id": "6974c9a8dfac9b56",
        "type": "alexa-smart-home-v3-state",
        "z": "5c4034e935cb2ed5",
        "conf": "ab85cf985da094b6",
        "device": "22962",
        "name": "Sensor",
        "x": 1045,
        "y": 226,
        "wires": []
    },
    {
        "id": "f05dc54c21035f7c",
        "type": "alexa-smart-home-v3-resp",
        "z": "5c4034e935cb2ed5",
        "x": 955,
        "y": 326,
        "wires": []
    },
    {
        "id": "333a4de2.089d12",
        "type": "mqtt-broker",
        "name": "andres iot",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f2b40320.566b8",
        "type": "ui_group",
        "name": "Control LED",
        "tab": "edce03d1.68b46",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ab85cf985da094b6",
        "type": "alexa-smart-home-v3-conf",
        "z": "5c4034e935cb2ed5",
        "username": "andresuser20",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "edce03d1.68b46",
        "type": "ui_tab",
        "name": "TAREA GRUPO",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]